---
title: "Главная"
PixLayout: false
PLimage: "screenshot.png"
PLopacity: 0.6
PLcenter: false
PLtop: 0
PLleft: 0
---

<div class="container">
  <div class="flights">
    <h1 class="flights__caption">Flights schedule</h1>
    <table class="flights__table" id="js-table">
      <thead>
        <tr id="js-table-head">
          <th class="flights__head-cell">Type</th>
          <th class="flights__head-cell">Flight</th>
          <th class="flights__head-cell">Company</th>
          <th class="flights__head-cell">Plane type</th>
          <th class="flights__head-cell">Arrival/Destination Point</th>
          <th class="flights__head-cell">State</th>
          <th class="flights__head-cell">Time</th>
          <th class="flights__head-cell">Comment</th>
        </tr>
      </thead>
      <tbody>
        {{#each flights}}
          <tr>
            <td class="flights__cell flights__cell--type">
              {{#is type "ARRIVAL"}}
                <span class="flights__type" title="arrival">arrival <i class="icon icon-arrow-up-right"></i></span>
              {{/is}}
              {{#is type "DEPARTURE"}}
                <span class="flights__type" title="departure">departure <i class="icon icon-arrow-down-right"></i></span>
              {{/is}}
            </td>
            <td class="flights__cell flights__cell--id">
              {{id}}
            </td>
            <td class="flights__cell flights__cell--company">
              <span class="flights__company-logo" title="{{title}} flights">
                <img src="http://www.heathrow.com/{{src}}" alt="{{title}} flights" width="40" height="40">
              </span>
              <span class="flights__company">{{title}}</span>
            </td>
            <td class="flights__cell">
              {{airship}}
            </td>
            <td class="flights__cell">
              {{#is type "ARRIVAL"}}
                from {{from}}, {{city}}
              {{/is}}
              {{#is type "DEPARTURE"}}
                to {{from}}, {{city}}
              {{/is}}
            </td>
            <td class="flights__cell">
              {{#is state "Delayed"}}
                <span class="text-error">{{state}} till {{state_delayed}}</span>
              {{else}}
                {{#is state "Cancelled"}}
                  <span class="text-error">{{state}}</span>
                {{else}}
                  {{state}}
                {{/is}}
              {{/is}}
              </span>
            </td>
            <td class="flights__cell flights__cell--time">
              {{#is state "Delayed"}}
                  <span class="text-muted">{{at}}</span>
                {{else}}
                  {{at}}
                {{/is}}
              </td>
            <td class="flights__cell flights__cell--comment">
              {{#if isCommented}}
              <span class="flights__comment"><a href="https://referat.yandex.ru/referats/" target="blank">Далеко-далеко</a> за словесными горами в стране, гласных и согласных живут рыбные тексты.</small>
              {{else}}
                &nbsp;
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="8">
            <a href="##" class="flights__link">Show more...</a>
          </td>
        </tr>
      </tfoot>
    </table>
    <div class="flights__fixed" id="js-table-fixed">
      <span class="flights__head-cell">Type</span>
      <span class="flights__head-cell">Flight</span>
      <span class="flights__head-cell">Company</span>
      <span class="flights__head-cell">Plane type</span>
      <span class="flights__head-cell">Arrival/Destination Point</span>
      <span class="flights__head-cell">State</span>
      <span class="flights__head-cell">Time</span>
      <span class="flights__head-cell">Comment</span>
    </div>
  </div>
</div>

{{#unless onProduction}}
  <!-- tableOfPages -->
  <script src="js/lib/tableOfPages.js"></script>
  <script>
    if (typeof tableOfPages !== "undefined") {
      tableOfPages.init({
        {{#each pages}}
          {{#isnt basename "_templ"}}
            "{{ basename }}":"{{ data.title }}",
          {{/isnt}}
        {{/each}}
      });
    }
  </script>
  <!-- /tableOfPages -->
{{/unless}}