---
title: "Главная"
PixLayout: false
PLimage: "screenshot.png"
PLopacity: 0.6
PLcenter: false
PLtop: 0
PLleft: 0
---

<div class="container">
  <div class="flights flights--main">
    <h1 class="flights__caption">Flights schedule</h1>
    <table class="flights__table" id="js-flight">
      <thead>
        <tr id="js-flight-head">
          <th class="flights__head-cell">Type</th>
          <th class="flights__head-cell">Flight</th>
          <th class="flights__head-cell">Company</th>
          <th class="flights__head-cell">Plane type</th>
          <th class="flights__head-cell">Arrival / Destination</th>
          <th class="flights__head-cell">State</th>
          <th class="flights__head-cell">Time</th>
          <th class="flights__head-cell">Comment</th>
        </tr>
      </thead>
      <tbody>
        {{#each flights}}
          <tr class="js-flight-row">
            <td class="flights__cell flights__cell--type">
              {{#is type "ARRIVAL"}}
                <span class="flights__type" title="arrival">Arrival <i class="icon icon-arrow-up-right"></i></span>
              {{/is}}
              {{#is type "DEPARTURE"}}
                <span class="flights__type" title="departure">Departure <i class="icon icon-arrow-down-right"></i></span>
              {{/is}}
            </td>
            <td class="flights__cell flights__cell--id">
              {{id}}
            </td>
            <td class="flights__cell flights__cell--company">
              <span class="flights__company-logo" title="{{title}} flights">
                <img src="http://www.heathrow.com/{{src}}" alt="{{title}} flights" width="40" height="40">
              </span>
              <span class="flights__company">{{title}}</span>
            </td>
            <td class="flights__cell flights__cell--airship">
              <span class="flights__airship" data-short="{{airship_short}}">{{airship}}</span>
            </td>
            <td class="flights__cell flights__cell--point">
            <span class="flights__point" data-point="{{from}}">
              {{#is type "ARRIVAL"}}
                from {{from}}, {{city}}
              {{/is}}
              {{#is type "DEPARTURE"}}
                to {{from}}, {{city}}
              {{/is}}
            </span>
            </td>
            <td class="flights__cell">
              {{#is state "Delayed"}}
                <span class="text-error">{{state}} till {{state_delayed}}</span>
              {{else}}
                {{#is state "Cancelled"}}
                  <span class="text-error">{{state}}</span>
                {{else}}
                  {{state}}
                {{/is}}
              {{/is}}
              </span>
            </td>
            <td class="flights__cell flights__cell--time">
              {{#is state "Delayed"}}
                  <span class="text-muted">{{at}}</span>
                {{else}}
                  {{at}}
                {{/is}}
              </td>
            <td class="flights__cell flights__cell--comment">
              {{#if isCommented}}
              <span class="flights__comment"><a href="https://referat.yandex.ru/referats/" class="js-flight-external-link" target="blank">Далеко-далеко</a> за словесными горами в стране, гласных и согласных живут рыбные тексты.</small>
              {{else}}
                &nbsp;
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="8" class="flights__cell flights__cell--footer">
            <a href="##" class="flights__link-more">Show more...</a>
          </td>
        </tr>
      </tfoot>
    </table>
    <div class="flights__fixed" id="js-flight-fixed">
      <span class="flights__head-cell">Type</span>
      <span class="flights__head-cell">Flight</span>
      <span class="flights__head-cell">Company</span>
      <span class="flights__head-cell">Plane type</span>
      <span class="flights__head-cell">Arrival / Destination</span>
      <span class="flights__head-cell">State</span>
      <span class="flights__head-cell">Time</span>
      <span class="flights__head-cell">Comment</span>
    </div>
  </div>
</div>

<div class="popup-wrap">
  <div class="popup" id="js-flight-popup">
    <p class="popup__title">Flight info</p>
    <span class="popup__close" id="js-flight-close" title="close">close</span>
    <div class="flights flights--popup">
      <table class="flights__table">
        <tr>
          <th>Type:</th>
          <td></td>
        </tr>
        <tr>
          <th>Flight:</th>
          <td></td>
        </tr>
        <tr>
          <th>Company:</th>
          <td></td>
        </tr>
        <tr>
          <th>Plane type:</th>
          <td></td>
        </tr>
        <tr>
          <th>Arrival / Destination:</th>
          <td></td>
        </tr>
        <tr>
          <th>State:</th>
          <td></td>
        </tr>
        <tr>
          <th>Time:</th>
          <td></td>
        </tr>
        <tr>
          <th>Comment:</th>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>

{{#unless onProduction}}
  <!-- tableOfPages -->
  <script src="js/lib/tableOfPages.js"></script>
  <script>
    if (typeof tableOfPages !== "undefined") {
      tableOfPages.init({
        {{#each pages}}
          {{#isnt basename "_templ"}}
            "{{ basename }}":"{{ data.title }}",
          {{/isnt}}
        {{/each}}
      });
    }
  </script>
  <!-- /tableOfPages -->
{{/unless}}